---
---



<!doctype html>

<html lang="{{ site.locale | slice: 0,2 | default: "en" }}" class="no-js">
  <head>
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/circle.css">
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached browser-upgrade.html %}
    {% include_cached masthead.html %}
    
    <div id="particles-js">
      <div id="title">
        <p class="header3"> <strong>Welcome!</strong> </p>
        <p class="header2">Hello, I'm Farid Arif</p>
      </div>
      <div class="autotype">
        <span class="shell-red">root@kali</span>
        :
        <span class="shell-blue">~</span>
        #
        <span id="autotype"></span>
      </div>
    </div>
    <div class="row">
                    <div class="col-12">
                        <h3 class="text-uppercase pb-4 pb-sm-5 mb-3 mb-sm-0 text-left text-sm-center custom-title ft-wt-600">My Skills</h3>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p40">
                            <span>80%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">PYTHON</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p90">
                            <span>40%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">JAVASCRIPT</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p50">
                            <span>45%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">C++</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p70">
                            <span>50%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">PHP</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p80">
                            <span>75%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">NETWORKING</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p70">
                            <span>40%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">SQL</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p85">
                            <span>85%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">LINUX</h6>
                    </div>
                    <div class="col-6 col-md-3 mb-3 mb-sm-5">
                        <div class="c100 p70">
                            <span>60%</span>
                            <div class="slice">
                                <div class="bar"></div>
                                <div class="fill"></div>
                            </div>
                        </div>
                        <h6 class="text-uppercase open-sans-font text-center mt-2 mt-sm-4">WINDOWS</h6>
                    </div>
                </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
    <script src="{{ '/assets/js/particles.min.js' }}"></script>
    <script src="{{ '/assets/js/particles.js' }}"></script>
    <script src="{{ '/assets/js/app.js' }}"></script>
    <script src="{{ '/assets/js/typed.js' }}"></script>
    <script>
       var typed = new Typed('#autotype', { strings: ["whoami", "id", "hostname", "uname -a", "ifconfig", "routel", "ss -uln", "ss -tln", "netstat -nupl", "netstat -ntpl", "nc -e /bin/sh", "nc -nlvp", "ps aux", "ps -ef"], typeSpeed: 75, backSpeed: 30, loop: true });
    </script>
    
  </body>
</html>
